svg {

    position: relative;



}
img {
    float:left;
    width:750px;
    height: 150px;
    position: fixed;
    margin-top: 0px;
    margin-left: 130px;
    z-index: 2;
}
div{
    float: left;
    position: absolute;


}
.something{
    margin-top: 25px;
    float: left;
    position: fixed;
}


